<button mat-raised-button color="primary" (click)="addMovie()">
  TOEVOEGEN
</button>

<button mat-raised-button color="primary" (click)="exportData()">EXPORT</button>

<mat-form-field>
  <mat-icon matPrefix>search</mat-icon>
  <input
    #searchInput
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Order nummer"
  />
</mat-form-field>

<div *ngIf="this.movies?.length > 0">
  <div *ngFor="let movie of this.filteredMovies">
    <mat-card class="card">
      <mat-card-title
        >{{ movie.releaseYear }} - {{ movie.title }}</mat-card-title
      >
      <mat-card-content>
        <img *ngIf="movie.image" src=""/>
        {{ movie.description }}

        <div *ngIf="movie.category">
          <div *ngFor="let cat of movie.category">
            <button>{{ cat }}</button>
          </div>
        </div>

        <div *ngIf="movie.languages">
          <div *ngFor="let lang of movie.languages">
            <button>{{ lang }}</button>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="editMovie(movie)">BEWERKEN</button>
        <mat-label>GEDOWNLOAD</mat-label>
        <mat-checkbox
          [(ngModel)]="movie.downloaded"
          (ngModelChange)="handleChange($event, movie)"
        ></mat-checkbox>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
