<div class="view-container">
  <button mat-raised-button color="primary" (click)="addMovie()">
    Toevoegen
  </button>

  <button mat-raised-button color="primary" (click)="exportData()">
    Export
  </button>

  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input
      #searchInput
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Zoeken op titel"
    />
  </mat-form-field>

  <form id="filterForm" [formGroup]="filterForm">
    <mat-form-field>
      <mat-select
        placeholder="Filter"
        required
        formControlName="filterOptions"
        multiple
      >
        <mat-option *ngFor="let filter of filterOptions" [value]="filter">
          {{ filter }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div *ngIf="this.movies?.length > 0">
    <div *ngFor="let movie of this.filteredMovies">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            {{ movie.releaseYear }} - {{ movie.title }}
          </mat-card-title>
          <mat-card-subtitle> {{ movie.type }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image *ngIf="movie.image" src="" alt="Foto" />

        <mat-card-content>
          <p>{{ movie.description }}</p>
          <div *ngIf="movie.category">
            <mat-chip-listbox>
              <mat-chip-option *ngFor="let cat of movie.category">{{
                cat
              }}</mat-chip-option>
            </mat-chip-listbox>
          </div>

          <div *ngIf="movie.languages">
            <mat-chip-listbox>
              <mat-chip-option *ngFor="let lang of movie.languages">{{
                lang
              }}</mat-chip-option>
            </mat-chip-listbox>
          </div>
          <mat-icon (click)="editMovie(movie)">edit</mat-icon>
          <mat-label class="download">Gedownload?</mat-label>
          <mat-checkbox
            [(ngModel)]="movie.downloaded"
            (ngModelChange)="handleChange($event, movie)"
          ></mat-checkbox>

          <button *ngIf="movie.type == 'SERIE'" (click)="serieInfo(movie)">
            SEIZOENEN
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
