<button (click)="backBtn()">Terug</button>
<mat-card>
  <mat-card-title>Seizoen bewerken</mat-card-title>
  <mat-card-content>
    <!-- dropdown with all seasons -->
    <form id="selectSeasonForm" [formGroup]="selectSeasonForm">
    <mat-form-field class="full-width">
        <mat-select
          placeholder="Seizoenen"
          required
          formControlName="selectedSeason"
        >
          <mat-option *ngFor="let s of seasons" [value]="s">
            {{ s.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="selectSeasonForm.controls.selectedSeason.hasError('required')">
          Seizoen <strong>vereist</strong>
        </mat-error>
      </mat-form-field>
    </form>

    <!-- show if a season is selected-->
  <div *ngIf="selectSeasonForm.controls.selectedSeason">
    <form id="seasonForm" [formGroup]="seasonForm">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Titel"
            required
            formControlName="title"
            autocomplete="on"
          />
          <mat-error *ngIf="seasonForm.controls.title.hasError('required')">
            Titel <strong>vereist</strong>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Omschrijving"
            required
            formControlName="description"
            autocomplete="on"
          />
          <mat-error *ngIf="seasonForm.controls.description.hasError('required')">
            Omschrijving <strong>vereist</strong>
          </mat-error>
        </mat-form-field>
  
        <button
          color="primary"
          class="full-width"
          [disabled]="!this.seasonForm.valid"
          mat-raised-button
          (click)="onSubmit()"
        >
          OPSLAAN
        </button>
      </form>
  </div>
  </mat-card-content>
</mat-card>
