.view-container {
  background-color: skyblue;
  height: 100%;
  mat-card {
    background-color: skyblue;
    mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px !important;
      form {
        width: 80%;
        mat-form-field {
          width: 100%;
        }
        mat-checkbox {
          float: left;
        }
      }
    }
  }
}

mat-card-title {
  text-align: center;
}

button {
  width: 31%;
  margin: 1%;
  border-radius: 5px;
}
