<div class="view-container">
  <button mat-raised-button color="primary" (click)="backBtn()">Terug</button>

  <mat-card>
    <mat-card-title>Film toevoegen</mat-card-title>
    <mat-card-content>
      <form id="movieForm" [formGroup]="movieForm">
        <mat-form-field>
          <input
            matInput
            placeholder="Titel"
            required
            formControlName="title"
            autocomplete="on"
          />
          <mat-error *ngIf="movieForm.controls.title.hasError('required')">
            Titel <strong>vereist</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            placeholder="Talen"
            required
            formControlName="languages"
            multiple
          >
            <mat-option *ngFor="let lang of languages" [value]="lang">
              {{ lang }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="movieForm.controls.languages.hasError('required')">
            Talen <strong>vereist</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Jaar dat film uitkwam"
            required
            type="number"
            formControlName="releaseYear"
            autocomplete="on"
          />
          <mat-error
            *ngIf="movieForm.controls.releaseYear.hasError('required')"
          >
            Jaar <strong>vereist</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Omschrijving"
            required
            formControlName="description"
            autocomplete="on"
          />
          <mat-error
            *ngIf="movieForm.controls.description.hasError('required')"
          >
            Omschrijving <strong>vereist</strong>
          </mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="downloaded">Gedowload?</mat-checkbox>
        <mat-error *ngIf="movieForm.controls.downloaded.hasError('required')">
          <strong>Maak een keuze</strong>
        </mat-error>

        <mat-form-field>
          <mat-select
            placeholder="Category"
            required
            formControlName="categorys"
            multiple
          >
            <mat-option *ngFor="let cat of categorys" [value]="cat">
              {{ cat }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="movieForm.controls.categorys.hasError('required')">
            Category <strong>vereist</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            placeholder="Type"
            required
            formControlName="type"
            multiple
          >
            <mat-option *ngFor="let type of types" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="movieForm.controls.type.hasError('required')">
            Type <strong>vereist</strong>
          </mat-error>
        </mat-form-field>

        <button
          color="primary"
          [disabled]="!this.movieForm.valid"
          mat-raised-button
          (click)="onSubmit()"
        >
          OPSLAAN
        </button>
      </form>

      <!-- <div>
      <span *ngIf="takingPhoto; then webcam; else photoButton"></span>
      <ng-template #webcam>
        <webcam
          [trigger]="takePhotoObservable"
          [width]="photoBoxWidth"
          (imageCapture)="onTakePhoto($event)"
        ></webcam>
        <button
          (click)="takePhoto()"
          color="primary"
          class="take-photo-button"
          mat-raised-button
        >
          <mat-icon>photo_camera</mat-icon>FOTO MAKEN
        </button>
      </ng-template>
      <ng-template #photoButton>
        <button
          [disabled]="!newRetourForm.valid"
          (click)="takingPhoto = true"
          color="primary"
          mat-raised-button
          class="photo-button"
        >
          <mat-icon>add_a_photo</mat-icon>FOTO MAKEN
        </button>
      </ng-template>
    </div> -->
    </mat-card-content>
  </mat-card>
</div>
